* {
  font-family: sans-serif;
  font-size: 12px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 1fr 48px;
  grid-template-areas: 
  "header"
  "content"
  "footer";
}

#header {
  padding: 0px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#follow-stories {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-bottom: 2em;
  /* horizontal scroll when content overflows */
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
}

#follow-stories::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-icons {
  background-color: lightgray;
  border-radius: 45px;
  width: 90px;
  height: 90px;
}

#feed-container {
  width: 468px;
  margin: 0 auto;
  margin-bottom: 3em;
}

.feed-author {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: "author-icon author-username more";
  align-items: center;
  justify-items: center;
  margin-bottom: 1em;
}

.feed-author-icons {
  background-color: lightgray;
  border-radius: 16px;
  width: 32px;
  height: 32px;
}

.feed-author-username {
  display: flex;
  justify-self: start;
}

.feed-img {
  width: 468px;
  height: auto;
  border-radius: 6px;
}

.feed-actions {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#footer {
  padding: 0px 16px 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
