body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.box {
  background-color: teal;
}

.grid-container {
  color: white;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 1em;
  grid-template-areas: 
  "box-1 box-2 box-2 box-3"
  "box-1 box-4 box-5 box-5"; /* 1 string is 1 row in the grid */
}