* {
  font-family: sans-serif;
}

body {
  width: 60vw;
  margin: 0 auto;
}

.spinners {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section {
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 1em;
}

h3 {
  margin-top: 0;
}

.spinner-arm {
  width: 72px;
  height: 72px;
  margin: 1em;
  animation: rotate 1s linear infinite;
  transform-origin: center center;
}

#rotate-spinner {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg);}
}