* {
  font-family: sans-serif;
}

body {
  width: 60vw;
  margin: 0 auto;
}

.spinners {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section {
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 1em;
}

h3 {
  margin-top: 0;
}

/* Rotate */
.spinner-arm {
  width: 72px;
  height: 72px;
  margin: 1em;
  animation: rotate 1s linear infinite;
  transform-origin: center center;
}

#rotate-spinner {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg);}
}

/* Pulse */
.spinner-container {
  width: fit-content;
  height: 72px;
  margin: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.pulse-spinner {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  animation: pulse 1.2s ease-in-out infinite;
}

.pulse-spinner:nth-child(1) { animation-delay: -1.2s; }
.pulse-spinner:nth-child(2) { animation-delay: -0.8s; }
.pulse-spinner:nth-child(3) { animation-delay: -0.4s; }

@keyframes pulse {
  0%,
  100% {
    scale: 1;
    opacity: 1;
  }
  50% {
    scale: 0.6;
    opacity: 0.6;
  }
}

/* Bounce */
.bounce-spinner {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  animation: bounce 1.2s ease-in-out infinite;
}

.bounce-spinner:nth-child(1) { animation-delay: -1.2s; }
.bounce-spinner:nth-child(2) { animation-delay: -0.8s; }
.bounce-spinner:nth-child(3) { animation-delay: -0.4s; }

@keyframes bounce {
  0%, 100% {
    transform: translateY();
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-32px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* Dots */
.dots-screen {
  width: 0;
  overflow: hidden;
  display: flex; /* Forces dots onto a single row */
  gap: 0.5em;
  animation: dots 1.2s steps(3, start) infinite;
}

.dots-spinner {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  flex-shrink: 0; /* Prevents the dots from squishing */
}

@keyframes dots {
  0%   { width: 0; }
  100% { width: 88px; }
}

/* Skeleton */
.skeleton-content {
  display: flex;
  gap: 1em;
  background: linear-gradient(
    90deg,
    #eceff1 25%,
    #f5f7f8 37%,
    #eceff1 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
}

.picture-placeholder {
  width: 24px;
  height: 24px;
  margin-bottom: 1em;
  background-color: black;
  opacity: 0.3;
  border-radius: 50%;
}

.text-placeholder {
  width: 240px;
  height: 24px;
  margin-bottom: 1em;
  background-color: black;
  opacity: 0.3;
  border-radius: 8px;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0% 0;
  }
}
