* {
  font-family: sans-serif;
}

body {
  width: 60vw;
  margin: 0 auto;
}

.spinners {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

section {
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 1em;
}

.spinner-container {
  width: 72px;
  height: 72px;
  border-radius: 8px;
}

#rotate-spinner {
  width: 24px;
  height: 24px;
  background-color: black;
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: translateX(0) translateY(0);
  }

  12.5% {
    transform: translateX(100%) translateY(0);
  }

  25% {
    transform: translateX(200%) translateY(0);
  }

  37.5% {
    transform: translateX(200%) translateY(100%);
  }

  50% {
    transform: translateX(200%) translateY(200%);
  }

  62.5% {
    transform: translateX(100%) translateY(200%);
  }

  75% {
    transform: translateX(0) translateY(200%);
  }

  87.5% {
    transform: translateX(0) translateY(100%);
  }

  100% {
    transform: translateX(0) translateY(0);
  }

}