body {
  width: auto;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 10% 5% 10%;
}

.sign-up-page {
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.form-container {
  display: grid;
  padding: 20px;
}

#try-banner {
  text-align: center;
}

#sign-up-form {
  display: grid;
  gap: 1em;
  margin-bottom: 1em;
}

.form-control {
  width: 100%;
  min-height: 3em;
}

.disclaimer {
  text-align: center;
}